# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
from itertools import groupby

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep='\t')
df['choice_description'] = df['choice_description'].fillna('unknown')
print(df)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                               unknown     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                               unknown     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### Step 4. See the first 10 entries

In [3]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,unknown,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,unknown,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,unknown,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
num_of_observations = df.shape # 4622 rows, 5 columns
print('Number of observations {}'.format(num_of_observations))

Number of observations (4622, 5)

In [2]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [5]:
num_of_columns = df.shape[1]
print('Number of colums {}'.format(num_of_columns))

Number of colums 5

### Step 7. Print the name of all the columns.

In [6]:
column_names = list(df.columns)
print(f'column names: {column_names}')

column names: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [7]:
df.index #default index generated by pandas

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [8]:
most_ordered = df.groupby(['item_name'])['quantity'].count()
most_ordered = most_ordered.sort_values(ascending=False)
print(f'most ordered {most_ordered.head(1)}')

most ordered item_name
Chicken Bowl    726
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [9]:
print(most_ordered.head(1))

item_name
Chicken Bowl    726
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [10]:
most_ordered_item_choice_descrition = df.groupby(['item_name','choice_description'])['quantity'].count()
most_ordered_item_choice_descrition = most_ordered_item_choice_descrition.sort_values(ascending=False)
print(f'choice description most ordered {most_ordered_item_choice_descrition.head(1)}')

choice description most ordered item_name            choice_description
Chips and Guacamole  unknown               479
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [11]:
print(f'choice description most ordered {most_ordered_item_choice_descrition.head(1)}')

choice description most ordered item_name            choice_description
Chips and Guacamole  unknown               479
Name: quantity, dtype: int64

### Step 13. Turn the item price into a float

In [12]:
# Remove the dollar sign and any extra spaces
df['item_price'] = df['item_price'].str.replace('$', '').str.strip()
# Convert to float
df['item_price'] = df['item_price'].astype(float)

#### Step 13.a. Check the item price type

In [13]:
df.info() #shows all columns dtype
df['item_price'].dtype #shows dtype for item_price

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
df['item_price'] = df['item_price'].apply(lambda x: int(x))

#### Step 13.c. Check the item price type

In [15]:
df['item_price'].dtype

dtype('int64')

### Step 14. How much was the revenue for the period in the dataset?

In [16]:
revenue = df['item_price'].sum()
print(f'Total revenue is {revenue}')

Total revenue is 32052

### Step 15. How many orders were made in the period?

In [17]:
number_of_orders =df['order_id'].count()

### Step 16. What is the average revenue amount per order?

In [18]:
average_revenue = revenue/number_of_orders
print(f'Average revenue per order is ${average_revenue}')

Average revenue per order is $6.934660320207702

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [20]:
different_items_sold =df['item_name'].unique()
item_count = np.count_nonzero(different_items_sold)
print(f'Number of different items {item_count}')

Number of different items 50